 body {
  font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
  color: white;
  font-size: 18px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 5px;
  height: 100vh;
  margin: 10px;
}

header {
  grid-area: header;
  background: #707070;
  padding: 5px;
}

nav {
  grid-area: nav;
  background: #C9BFBF;
  padding: 5px;
}

main {
  grid-area: main;
  background: #ABABAB;
  padding: 5px;
}

aside {
  grid-area: aside;
  background: #C9C9C9;
  padding: 5px;
}

footer {
  grid-area: footer;
  background: #707070;
  padding: 5px;
}

nav a{
    text-decoration:none;
    color:inherit;
    } 
nav li{
    display:block;
    width:80%;
    padding:5px;
    background-color:#000;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
    }
nav li:hover{
    background-color:#fff;
    color:#000;
    }   

article {
  background: #888888;
  padding: 5px;
}


